@use '@/styles/vars' as *;

.root {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: $breakpoint-xl) {
  .root {
    gap: 14px;
    flex-direction: column;
  }
}

@media (max-width: $breakpoint-lg) {
  .root {
    gap: 14px;
  }
}
