@use '@/styles/vars' as *;

.root {
  padding: 64px;
  background-color: var(--color-bg-forest);
  max-width: 560px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.18em;
  color: var(--color-accent-gold);
  margin-bottom: 10px;
  display: block;
}

.highlight {
  display: block;
  color: var(--color-accent-gold);
  font-style: italic;
}

.description {
  color: var(--color-text-muted-light);
  margin-top: 20px;
  line-height: 26px;
  max-width: 370px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.groupLabel {
  font-size: 11px;
  font-weight: 700;
  color: var(--color-text-meta-light);
  letter-spacing: 0.18em;
}

.groupValue {
  font-size: 14px;
  color: var(--color-text-light);
}

.additionalInfo {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: var(--color-text-meta-light);
}

@media (max-width: $breakpoint-xl) {
  .root {
    padding: 48px;
  }
}

@media (max-width: $breakpoint-lg-xl) {
  .root {
    max-width: 100%;
    padding: 48px 48px 64px;
  }

  .description {
    margin-bottom: 24px;
  }
}

@media (max-width: $breakpoint-md) {
  .description {
    line-height: 22px;
  }

  .root {
    padding: 30px 24px 38px;
  }
}
