// Breakpoints
$breakpoint-2xs: 350px;
$breakpoint-xs: 375px;
$breakpoint-sm: 425px;
$breakpoint-md: 480px;
$breakpoint-lg: 768px;
$breakpoint-lg-xl: 860px;
$breakpoint-xl: 1024px;
$breakpoint-2xl: 1280px;
$breakpoint-3xl: 1440px;
$breakpoint-4xl: 1920px;
