.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  margin-bottom: 6px;
}

.error {
  color: var(--color-state-error);
  font-size: 11px;
  margin-top: 6px;
  display: block;
}
